{% if admin.hasRoute('techpromux_dynamic_report.admin.report|techpromux_dynamic_report.admin.component.list') and admin.id(object) and admin.isGranted('EDIT', object)%}
    <a class="btn btn-sm btn-default report_component_link sonata-action-element" href="{{ admin.generateObjectUrl('techpromux_dynamic_report.admin.report|techpromux_dynamic_report.admin.component.list', object) }}" target="_blank">
        <i class="fa fa-cubes" data-placement="top" data-toggle="tooltip" title="{{ 'link_action_report_component_list'|trans({}, 'TechPromuxDynamicReportBundle') }}"></i>
    </a>
{% endif %}
